.Title {
	background-color:#8FB4E1;
	font-weight:bold;
	color:#003366;
	width:750px;
	padding-left:10px;
	height:17px;
	padding-top:3px;
}
.row
{
	width: 700px;
	padding-left:10px;	
}

.col
{
	width: 150px;
	float: left;
	padding-bottom: 5px;
}