<section id="musica" class="wow fadeIn">
  <div class="container">
    <header>
      <h1 class="text-red">MÚSICAS</h1>
    </header>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="album-capa">
          <img src="images/cd_1.jpg" alt="">
          </figure>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="album-detalhes">
          <h1 class="text-white">O Importante é o Principal</h1>
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#release" aria-controls="release" role="tab" data-toggle="tab">Release</a></li>
            <li><a href="#faixas" aria-controls="faixas" role="tab" data-toggle="tab">Faixas</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="release">
              <p class="text-white">
                A banda Saída de Emergência lança o CD “O Importante é o Principal”, 2º. deste grupo que está na estrada há quase 10 anos e é composto por Dino Chaves no vocal e guitarra, Danilo Godoy na guitarra, Lok`s na bateria e Lelo Carvalho no contrabaixo. O álbum de 13 faixas teve a produção musical de Petch Calasans. As letras das músicas sempre levam mensagens política sociais, religiosas e cotidianas.
              </p>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="faixas">
              <div class="row">
                <div class="col-sm-12 col-md-6">              
                  <li class="text-white">
                    <a href="/faixas/01-encabrestadosfc.html">01 – Encabrestados FC</a>
                  </li>
                  <li class="text-white">
                    <a href="/faixas/02-garotojuca.html">02 – Garoto Juca</a>
                  </li>
                  <li class="text-white">
                    <a href="/faixas/03-eunaosoumarginal.html">03 – Eu não sou marginal</a>
                  </li>
                  <li class="text-white">
                    <a href="/faixas/04-bundascantantes.html">04 – Bundas Cantantes</a>
                  </li>
                  <li class="text-white">
                    <a href="/faixas/05-lixocomercial.html">05 – Lixo comercial</a>
                  </li>
                  <li class="text-white">
                    <a href="/faixas/06-laemcimadomorro.html">06 – Lá em cima do morro</a>
                  </li>
                  <li class="text-white">
                    <a href="/faixas/07-bemacompanhado.html">07 – Bem acompanhado</a>
                  </li>
                </div>
                <div class="col-sm-12 col-md-6">
                  <li class="text-white">
                    <a href="/faixas/08-madeinbrazil.html">08 – Made in Brazil</a>
                  </li>
                  <li class="text-white">
                    <a href="/faixas/09-solucaofinal.html">09 – Solução final</a>
                  </li>
                  <li class="text-white">
                    <a href="/faixas/10-tomezero.html">10 - Tome zero</a>
                  </li>
                  <li class="text-white">
                    <a href="/faixas/11-rock30.html">11 – Rock 30</a>
                  </li>
                  <li class="text-white">
                    <a href="/faixas/12-liberougeral.html">12 - Liberou geral</a>
                  </li>
                  <li class="text-white">
                    <a href="/faixas/13-nestehorario.html">13 – Neste horário</a>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="album-acoes">
          <a class="btn btn-lg btn-danger" href="https://open.spotify.com/album/2JrekO9dZ87FPqMiUJcN3X" target="blank">
            <i class="glyphicon glyphicon-play"></i> OUÇA NO SPOTIFY
          </a>
          <a class="btn btn-lg btn-danger" href="">
            <i class="glyphicon glyphicon-cloud-download"></i> FAÇA O DOWNLOAD DO ALBUM
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
