<section id="noticias">
  <div class="container">
    <header>
      <h1 class="text-red">NOTÍCIAS</h1>
    </header>
    <div class="row">
     <div class="col-xs-12">
          <h2 class="text-white">EM BREVE NOVAS NOTÍCIAS E NOVIDADES...</h2>
        </div>
      <!-- <ul class="noticias"> 
         {% for post in site.categories["noticias"] %}
        <li class="post">
          <h3 class="text-white underline">{{ post.date | localize: "%d de %B de %Y" }}</h3>
          <h1>
            <a class="text-white" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>
        </li>
        {% endfor %} }} 
      </ul> -->
    </div>
  </div>
</section>
