<section id="musica" class="wow fadeIn">
  <div class="container">
    <header>
      <h1 class="text-red">MÚSICAS</h1>
    </header>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="album-capa">
          <img src="images/cd_1.jpg" alt="">
          </figure>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="album-detalhes">
          <h1 class="text-white">O Importante é o Principal</h1>
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#release" aria-controls="release" role="tab" data-toggle="tab">Release</a></li>
            <li><a href="#faixas" aria-controls="faixas" role="tab" data-toggle="tab">Faixas</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="release">
              <p class="text-white">
                A banda Saída de Emergência lança o CD “O Importante é o Principal”, 2º. deste grupo que está na estrada há quase 10 anos e é composto por Dino Chaves no vocal e guitarra, Danilo Godoy na guitarra, Lok`s na bateria e Lelo Carvalho no contrabaixo.. O álbum de 13 faixas teve a produção musical de Petch Calasans. As letras das músicas sempre levam mensagens política sociais, religiosas e cotidianas.
              </p>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="faixas">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <li class="text-white">01 – Encabrestados FC</li>
                  <li class="text-white">02 – Garoto Juca</li>
                  <li class="text-white">03 – Eu não sou marginal</li>
                  <li class="text-white">04 – Bundas Cantantes</li>
                  <li class="text-white">05 – Lixo comercial</li>
                  <li class="text-white">06 – Lá em cima do morro</li>
                  <li class="text-white">07 – Bem acompanhado</li>
                </div>
                <div class="col-sm-12 col-md-6">
                  <li class="text-white">08 – Made in Brazil</li>
                  <li class="text-white">09 – Solução final</li>
                  <li class="text-white">10 - Tome zero</li>
                  <li class="text-white">11 – Rock 30</li>
                  <li class="text-white">12 - Liberou geral</li>
                  <li class="text-white">13 – Neste horário</li>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="album-acoes">
          <a class="btn btn-lg btn-danger" href="https://open.spotify.com/album/2JrekO9dZ87FPqMiUJcN3X" target="blank">
            <i class="glyphicon glyphicon-play"></i> OUÇA NO SPOTIFY
          </a>
          <a class="btn btn-lg btn-danger" href="">
            <i class="glyphicon glyphicon-cloud-download"></i> FAÇA O DOWNLOAD DO ALBUM
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
