<section id="banda" class="wow fadeIn">
  <div class="container">
    <header>
      <h1 class="text-red">BANDA</h1>
    </header>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="#" class="thumbnail integrante" style="background-image: url('images/thumbnail_dino.jpg'); background-size:cover;">
          <div class="caption">
            <h3 class="text-white">DINO CHAVES</h3>
            <p class="text-white">VOCALISTA E GUITARRISTA</p>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="#" class="thumbnail integrante" style="background-image: url('images/thumbnail_danilo.jpg'); background-size:cover;">
          <div class="caption">
            <h3 class="text-white">DANILO GODOY</h3>
            <p class="text-white">GUITARRISTA</p>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="#" class="thumbnail integrante" style="background-image: url('images/original_loks_2.jpg'); background-size:cover;">
          <div class="caption">
            <h3 class="text-white">LOK's RASMUSSEN</h3>
            <p class="text-white">BATERISTA</p>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="#" class="thumbnail integrante" style="background-image: url('images/thumbnail_lelo.jpg'); background-size:cover;">
          <div class="caption">
            <h3 class="text-white">LELO CARVALHO</h3>
            <p class="text-white">CONTRABAIXISTA</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
