<section id="musica" class="wow fadeIn">
  <div class="container">
    <header>
      <h1 class="text-red">MÚSICAS</h1>
    </header>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="album-capa">
          <img src="images/cd_1.jpg" alt="">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="album-detalhes">
          <h1 class="text-white">O Importante é o Principal</h1>
          <p class="text-white">
            O Importante é o Principal (2010) A banda Saída de Emergência lança o CD “O Importante é o Principal”, 2º. deste grupo que está na estrada há quase 10 anos e é composto por Dino Chaves no vocal e guitarra, Danilo Godoy na guitarra, Lok`s na bateria e Lelo Carvalho no contrabaixo.. O álbum de 13 faixas teve a produção musical de Petch Calasans. As letras das músicas sempre levam mensagens política sociais, religiosas e cotidianas.
          </p>
        </div>
        <div class="album-acoes">
          <a class="btn btn-lg btn-danger" href="https://open.spotify.com/album/2JrekO9dZ87FPqMiUJcN3X" target="blank">
            <i class="glyphicon glyphicon-play"></i> OUÇA NO SPOTIFY
          </a>
          <a class="btn btn-lg btn-danger" href="">
            <i class="glyphicon glyphicon-cloud-download"></i> FAÇA O DOWNLOAD DO ALBUM
          </a>
        </div>
        <iframe src="https://embed.spotify.com/?uri=spotify:album:2JrekO9dZ87FPqMiUJcN3X" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>
</section>
