<section id="fotos">
  <div class="container">
    <header>
      <h1 class="text-red">FOTOS</h1>
    </header>
    <!-- INSTANSIVE WIDGET -->
    <script src="//instansive.com/widget/js/instansive.js"></script>
    <iframe src="//instansive.com/widgets/dbcca162c88ec6ac53af77e5958e4bdc9e46900a.html" id="instansive_dbcca162c8" name="instansive_dbcca162c8" scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  </div>
</section>
<section id="shows">
  <div class="container">
    <header>
      <h1 class="text-red">SHOWS</h1>
    </header>
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-white">EM BREVE INFORMAÇŌES E DATAS DE SHOWS...</h2>  
      </div>
      
    </div>
  </div>
</section>
