<section id="contato" class="red-transparent">
  <div class="container">
    <h1 class="text-black">CONTATO</h1>
    <div class="row">
      <div class="col-xs-12">
        <div id="alert" class="alert alert-danger" role="alert"></div>
      </div>
      <form id="contato-form">
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" name="nome" placeholder="Digite seu Nome" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Digite seu Email" required>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <textarea class="form-control" name="mensagem" cols="30" rows="4" placeholder="Digite a sua mensagem"></textarea>
          </div>
        </div>
        <div class="col-sm-12 center">
          <button id 1type="submit" data-loading-text="Enviando..." class="btn btn-enviar">
            <span class="spinner"><i class="icon-refresh"></i> ENVIAR
           </button>
        </div>
      </form>
    </div>
  </div>
</section>
