.row {
	width: 750px;
	border-bottom: 1px solid #EBEBEB;
	padding-left:10px;
}

.rowMain {
	color:#003366;
	font-weight:bold;
	width: 750px;
	background-color:#8FB4E1;
	padding-left:10px;
}

.col1 {
	width: 340px;
		
}

.col2 {
	width: 100px;
	text-align: center;
	border-left: 2px solid #FFFFFF;
}

.col3 {
	width: 100px;
	text-align:center;
	border-left: 2px solid #FFFFFF;
}

.col4 {
	width: 100px;
	text-align:center;
	border-left: 2px solid #FFFFFF;
}

.col5 {
	width: 100px;
	text-align:center;
	border-left: 2px solid #FFFFFF;
}

.col1, .col2, .col3, .col4, .col5 {
	float: left;
	padding-top: 3px;
	padding-bottom: 4px;
}

.col3 a:hover, .col4 a:hover, .col5 a:hover  {
	font-weight:bold;
}
