section#contato {
  .form-control {
    font-family: Tungsten-Light, sans-serif;
    background-color: $black !important;
    color: $white !important;
    border: 1px solid #282828;
    font-size: 20px;
  }
  .btn-enviar {
    background-color: $red-transparent !important;
    border: 2px solid $black;
    color: $black;
    font-size: 24px;
    padding: 4px 33px;
  }
  .alert {
    border: 0px;
    font-size: 20px;
    display: none;
    &.alert-success {
      color: $white;
      background-color: $blue-transparent !important;
    }
    &.alert-danger {
      color: $red;
      background-color: rgba(252, 248, 227, 0.58) !important;
    }
  }
}
