@font-face {
  font-family: Tungsten;
  src: url("../fonts/Tungsten-Book.otf") format("opentype");
}

@font-face {
  font-family: Tungsten-Light;
  src: url("../fonts/Tungsten-Light.otf") format("opentype");
}
