// *******************
// *** BACKGROUNDS ***
// *******************
.black {
  background-color: $black !important;
}

.blue {
  background-color: $blue !important;
}

.blue-transparent {
  background-color: $blue-transparent !important;
}

.red {
  background-color: $red !important;
}

.red-transparent {
  background-color: $red-transparent !important;
}


// *******************
// *** TEXT COLORS ***
// *******************
.text-white {
  color: $white !important;
}

.text-red {
  color: $red !important;
}

.text-black {
  color: $black !important;
}

// *******************
// * TEXT DECORATION *
// *******************
.underline {
  text-decoration: underline;
}


// *******************
// ***** EFFECTS *****
// *******************
.grow {
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

// *******************
// **** ALIGNMENT ****
// *******************
.center {
  text-align: center;
}



