body {
	background-color: #090;
}
table {
	background-color: #FFF;
}
#conteudo {
	border: 3px groove #090;
	background-image: none;
}
td {
	color: #630;
}
strong {
	font-size: 14px;
	color: #060;
}
#conteudo tr td h3 {
	color: #060;
	font-size: 18px;
}
#madeireira2 {
	font-size: 24px;
	font-style: normal;
	color: #F00;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
#cristal2 {
	font-family: "Edwardian Script ITC";
	color: #060;
	font-size: 36px;
	font-weight: bold;
}
#cristal {
	font-family: "Edwardian Script ITC";
	font-size: 24px;
	color: #060;
}
#madeireira {
	font-size: 14px;
	color: #F00;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#conteudo tr td p {
	font-size: 14px;
	text-align: left;
}
#conteudo tr td p #title {
	text-align: center;
}
#conteudo tr td {
	font-size: 12px;
}
#conteudo tr td {
	font-size: 14px;
}
#produtos {
	text-align: left;
}
#conteudo tr td table #produtos td {
	text-align: left;
}
li {
	text-align: left;
	font-size: 10px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#conteudo tr td table #produtos td {
	border: 1px groove #060;
}
#conteudo tr td table tr td {
	border: 2px none #060;
	font-size: 12px;
}
#conteudo tr td table tr td h4 {
	color: #060;
}
#conteudo tr td h1 {
	color: #060;
}
