/* ------------------------------------------------------------------------------------------------
  Main layout
------------------------------------------------------------------------------------------------ */
cite {
	font-size:9px;
	color:#990000;
}

a
{
	color:#003366;
	text-decoration:none;
}

html, input
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
}

body
{
	background:url(../modelo.jpg) no-repeat center top;
	margin-top: 11px;	
	padding: 0;
	min-width: 760px;
}

.wrapper {
	width: 760px;
	margin:0 auto;
	background-color:#FFFFFF;
}

.content {
	width: 760px;
	padding: 0px;	
	margin: 0px;
}

.main
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
}


.TextareaDisable
{
	color: #000;
	border: #FFF solid 1px;
	background-color: #FFFFFF;
	width: 240px;
	height: 50px;
	overflow: auto;
}


.ImgFooter
{
	background:url(../rodape.gif) center no-repeat;
	border-top: #006699 solid 2px;
	width:760px;
	height:22px;
	margin:0 auto;
}

.Footer
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:9px;
	color:#8FB4E1;
	margin: 0 auto;
}

.Error {
	color:#990000;
	font-weight: bold;
	padding-left:10px;
	padding-bottom:10px;
	clear:both;
	text-align:left;
	width:300px;
}

/* ------------------------------------------------------------------------------------------------
  Menu
------------------------------------------------------------------------------------------------ */
.menuRow a:hover, .menuHelp a
{
	color:#FFFFFF;
}

.menuHelp {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:normal;
	color:#FFFFFF;
	width:30px;
	float:right;
	padding-top:10px;
	padding-right:10px;
}

.menuRow
{
	height:102px;
	font-size:12px;
	font-weight:bold;
	background:url(../header.jpg) no-repeat center;
	border-bottom:#006699 solid 2px;
}

.menuCol
{
	text-align:center;
	width: 80px;
	padding-top:80px;
	padding-left: 20px;
	float: left;
}

.lineBreak
{
	clear: left;
	width: 0px;
	height: 0px;
	font-size: 0px;
}