.row {
	width: 760px;
	border-top: #DFDFDF 1px solid;
}

.rowMain {
	color:#003366;
	width: 750px;
	height: 17px;
	background-color: #8FB4E1;
	padding-left: 10px;
	font-weight:bold;
	padding-top: 3px;
}

.col
{
	float: left;
	width: 253px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.col input
{
	width: 120px;
}