<!DOCTYPE html>
<html>
{% include head.html %}

<body data-spy="scroll" data-target=".navbar" data-offset="180">
  <div id="wrapper" class="toggled">
    {% include header.html %}
    <!-- PLAY BUTTON -->
    <div id="play-wrapper">
      <span class="glyphicon glyphicon-play"></span>
    </div>
    <!-- SIDEBAR -->
    <div id="sidebar-wrapper">
      <iframe src="https://embed.spotify.com/?uri=spotify:artist:68mfYIeMBOsPj4kOUdii1d" frameborder="0" allowtransparency="true" width="640" height="720"></iframe>
    </div>
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </div>
  <script src="{{ site.baseurl }}/js/jquery-2.1.4.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/js/wow.min.js"></script>
  <script src="{{ site.baseurl }}/js/app.js"></script>
</body>

</html>
